* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(222, 184, 135, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: darkseagreen;
  overflow: hidden;
}
.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: colorful 30s linear infinite;
}
@keyframes colorful{
  100%{
    filter: hue-rotate(360deg);
  }
}
.bar-seconds,
.number-hours {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bar-seconds span{
  position: absolute;
  /* 360deg / 60 = 6deg */
  transform: rotate(calc(var(--index) * 6deg));
  inset: -20px;
  text-align: center;   
}

/* 5n = every mu;tiple of 5 */
.bar-seconds span:nth-child(5n) p{
width: 6px;
height: 18px;
transform: translateY(1px);
}
.bar-seconds span p {
  display: inline-block;
  width: 2px;
  height: 12px;
  background: black;
  border-radius: 2px;
  box-shadow: 0 0 10px black;
}
.number-hours span {
  position: absolute;
  /* 360deg/12 = 30 deg */
  transform: rotate(calc(var(--index) * 30deg));
  inset: 6px;
  text-align: center;
}
.number-hours span p {
  font-size: 52px;
  transform: rotate(calc(var(--index) * -30deg));
  color: black;
  text-shadow: 0 0 10px black;
}
.hands-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hands-box .hand {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.hands-box .hand i {
  display: inline-block;
  transform-origin: bottom;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.hands-box .hours {
  width: 320px;
  height: 320px;
}
.hands-box .hours i {
  width: 8px;
  /* half of partent height */
  height: 160px;
  background-color: black;
}
.hands-box .minutes {
  width: 450px;
  height: 450px;
}
/* center dot bottom */
.hands-box .minutes::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: black;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 5px darkseagreen;
}
.hands-box .minutes i {
  width: 4px;
  /* half of partent height */
  height: 225px;
  border: 2px solid black;
}
.hands-box .seconds {
  width: 480px;
  height: 480px;
}
/* center dot top */
.hands-box .seconds::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(128, 128, 128, 0.767);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 3px #fff;
}
.hands-box .seconds i {
  width: 4px;
  /* half of partent height */
  height: calc(240px + 70px);
  border: 2px solid black;
  box-shadow: none;
}
